div>img {
       height: 160px;
       width: 160px;
       object-fit: cover;
       border-radius: 10%;
       padding: 10px;
   }

   div {
       display: flex;
       flex-direction: row;
   }

   div>p {
       text-align: justify;
   }